<ul class="navbar-nav text-center mx-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'politique'
        }) }}">Politique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'economie'
        }) }}">Economie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'culture'
        }) }}">Culture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'loisirs'
        }) }}">Loisirs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'sport'
        }) }}">Sport</a>
    </li>
    </li>
</ul>