<ul class="navbar-nav text-center mx-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'politique'
        }) }}">Politique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'economie'
        }) }}">Economie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'culture'
        }) }}">Culture</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'loisirs'
        }) }}">Loisirs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('default_category',{
            'slug' : 'sport'
        }) }}">Sport</a>
    </li>
    </li>
</ul>
<div class="text-right">
    <a class="nav-item btn btn-outline-warning"
       href="{{ path('post_create') }}">Rédiger un article</a>
    <a class="nav-item btn btn-outline-warning"
       href="{{ path('user_register') }}">Inscription</a>
    <a class="nav-item btn btn-outline-info"
       href="#">Connexion</a>
    <a class="nav-item btn btn-outline-info"
       href="#">Déconnexion</a>
</div>